<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MarcaControlador</servlet-name>
        <servlet-class>Controlador.MarcaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeloControlador</servlet-name>
        <servlet-class>Controlador.ModeloControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorControlador</servlet-name>
        <servlet-class>Controlador.ProveedorControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraControlador</servlet-name>
        <servlet-class>Controlador.CompraControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepuestoControlador</servlet-name>
        <servlet-class>Controlador.RepuestoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoController</servlet-name>
        <servlet-class>Controlador.EmpleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>Controlador.UsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarcaControlador</servlet-name>
        <url-pattern>/MarcaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeloControlador</servlet-name>
        <url-pattern>/ModeloControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorControlador</servlet-name>
        <url-pattern>/ProveedorControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraControlador</servlet-name>
        <url-pattern>/CompraControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepuestoControlador</servlet-name>
        <url-pattern>/RepuestoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoController</servlet-name>
        <url-pattern>/EmpleadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
